# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:1500) -- The timeout in milliseconds for the version update check.
# 
# Mon Aug 05 19:33:50 CDT 2013
allowDebugOutput=false
allowUpdateCheck=false
checksum=1wk
updateTimeoutMilliseconds=1500
