web/build
discord/.DS_Store
realtime/.DS_Store
.DS_Store
.env
letsencrypt/
nginx_logs
packages/db/postgres/postgres_data
.idx/
packages/frontend/ios/Vash Esports.xcodeproj/project.xcworkspace/xcuserdata
