# Configuration file

####################
# block
####################

block {
    I:block.bookbinder.id=848
    I:block.bookstand.id=200
    I:block.crystal.id=203
    I:block.fluid.id=1286
    I:block.inkmixer.id=849
    I:block.lectern.id=846
    I:block.linkmodifier.id=847
    I:block.linkportal.id=205
    I:block.receptacle.id=206
    I:block.starfissure.id=204
    I:block.unstable.id=202
    I:block.writingdesk.id=201
}


####################
# entity
####################

entity {
    I:entity.book.id=81
    I:entity.falling.id=82
    I:entity.meteor.id=83
}


####################
# general
####################

general {
    B:crafting.linkeffects.disarm.enabled=true
    B:crafting.linkeffects.following.enabled=true
    B:crafting.linkeffects.generate_platform.enabled=true
    B:crafting.linkeffects.intra_linking.enabled=true
    B:crafting.linkeffects.maintain_momentum.enabled=true
    B:crafting.linkeffects.relative.enabled=true
    B:options.binder.enabled=true
    B:options.bookstand.enabled=true
    B:options.command.spawnmeteor.enabled=false
    B:options.desk.enabled=true
    B:options.deskback.enabled=true
    S:options.difficultyoverride=
    B:options.fastRainbows=false
    B:options.inkmixer.enabled=true
    B:options.instability=true
    B:options.lectern.enabled=true
    B:options.linkbook.enabled=true
    B:options.notebook.enabled=true
    I:options.providerId=1210950779
    B:options.receptacle.enabled=true
    B:options.renderlabels=false
    I:villager.archivist.id=1210950779
}


####################
# instability
####################

instability {
    D:fluid.aluminum.molten.instability.perblock=0.10000000149011612
    D:fluid.aluminumbrass.molten.instability.perblock=0.10000000149011612
    D:fluid.alumite.molten.instability.perblock=0.10000000149011612
    D:fluid.ardite.molten.instability.perblock=0.10000000149011612
    D:fluid.bacterialsludge.instability.perblock=0.10000000149011612
    D:fluid.bigreactors.cyanite.still.instability.perblock=0.10000000149011612
    D:fluid.bigreactors.fuelcolumn.still.instability.perblock=0.10000000149011612
    D:fluid.bigreactors.yellorium.still.instability.perblock=0.10000000149011612
    D:fluid.blood.instability.perblock=0.10000000149011612
    D:fluid.bronze.molten.instability.perblock=0.10000000149011612
    D:fluid.coal.instability.perblock=0.10000000149011612
    D:fluid.cobalt.molten.instability.perblock=0.10000000149011612
    D:fluid.copper.molten.instability.perblock=0.10000000149011612
    D:fluid.cryotheum.instability.perblock=0.10000000149011612
    D:fluid.electrum.molten.instability.perblock=0.10000000149011612
    D:fluid.emerald.liquid.instability.perblock=0.10000000149011612
    D:fluid.ender.instability.perblock=0.10000000149011612
    D:fluid.fuel.instability.perblock=0.10000000149011612
    D:fluid.glass.molten.instability.perblock=0.10000000149011612
    D:fluid.glowstone.instability.perblock=0.10000000149011612
    D:fluid.glue.instability.perblock=0.10000000149011612
    D:fluid.gold.molten.instability.perblock=0.10000000149011612
    D:fluid.invar.molten.instability.perblock=0.10000000149011612
    D:fluid.iron.molten.instability.perblock=0.10000000149011612
    D:fluid.lead.molten.instability.perblock=0.10000000149011612
    D:fluid.manyullyn.molten.instability.perblock=0.10000000149011612
    D:fluid.mfr.liquid.biofuel.still.instability.perblock=0.10000000149011612
    D:fluid.mfr.liquid.chocolatemilk.still.instability.perblock=0.10000000149011612
    D:fluid.mfr.liquid.meat.still.instability.perblock=0.10000000149011612
    D:fluid.mfr.liquid.milk.still.instability.perblock=0.10000000149011612
    D:fluid.mfr.liquid.mobessence.still.instability.perblock=0.10000000149011612
    D:fluid.mfr.liquid.mushroomsoup.still.instability.perblock=0.10000000149011612
    D:fluid.mfr.liquid.pinkslime.still.instability.perblock=0.10000000149011612
    D:fluid.mfr.liquid.sewage.still.instability.perblock=0.10000000149011612
    D:fluid.mfr.liquid.sludge.still.instability.perblock=0.10000000149011612
    D:fluid.mixturealuminium.instability.perblock=0.10000000149011612
    D:fluid.mixturealuminiumbrass.instability.perblock=0.10000000149011612
    D:fluid.mixturealuminum.instability.perblock=0.10000000149011612
    D:fluid.mixturealuminumbrass.instability.perblock=0.10000000149011612
    D:fluid.mixturealumite.instability.perblock=0.10000000149011612
    D:fluid.mixtureardite.instability.perblock=0.10000000149011612
    D:fluid.mixtureblutonium.instability.perblock=0.10000000149011612
    D:fluid.mixturebronze.instability.perblock=0.10000000149011612
    D:fluid.mixturecobalt.instability.perblock=0.10000000149011612
    D:fluid.mixturecopper.instability.perblock=0.10000000149011612
    D:fluid.mixturecyanite.instability.perblock=0.10000000149011612
    D:fluid.mixtureelectrum.instability.perblock=0.10000000149011612
    D:fluid.mixtureelectrumflux.instability.perblock=0.10000000149011612
    D:fluid.mixtureenderium.instability.perblock=0.10000000149011612
    D:fluid.mixturegold.instability.perblock=0.10000000149011612
    D:fluid.mixturegraphite.instability.perblock=0.10000000149011612
    D:fluid.mixtureinvar.instability.perblock=0.10000000149011612
    D:fluid.mixtureiron.instability.perblock=0.10000000149011612
    D:fluid.mixturelead.instability.perblock=0.10000000149011612
    D:fluid.mixturemanyullyn.instability.perblock=0.10000000149011612
    D:fluid.mixturemeat.instability.perblock=0.10000000149011612
    D:fluid.mixturemeatraw.instability.perblock=0.10000000149011612
    D:fluid.mixturemeteoriciron.instability.perblock=0.10000000149011612
    D:fluid.mixturenickel.instability.perblock=0.10000000149011612
    D:fluid.mixtureobsidian.instability.perblock=0.10000000149011612
    D:fluid.mixturepigiron.instability.perblock=0.10000000149011612
    D:fluid.mixtureplatinum.instability.perblock=0.10000000149011612
    D:fluid.mixtureplutonium.instability.perblock=0.10000000149011612
    D:fluid.mixturesilver.instability.perblock=0.10000000149011612
    D:fluid.mixturesteel.instability.perblock=0.10000000149011612
    D:fluid.mixturetin.instability.perblock=0.10000000149011612
    D:fluid.mixtureunstable.instability.perblock=0.10000000149011612
    D:fluid.mixtureuranium.instability.perblock=0.10000000149011612
    D:fluid.mixtureyellorium.instability.perblock=0.10000000149011612
    D:fluid.molten_conductive_redmetal.instability.perblock=0.10000000149011612
    D:fluid.molten_redstone.instability.perblock=0.10000000149011612
    D:fluid.moltenaluminium.instability.perblock=0.10000000149011612
    D:fluid.moltenaluminiumbrass.instability.perblock=0.10000000149011612
    D:fluid.moltenaluminum.instability.perblock=0.10000000149011612
    D:fluid.moltenaluminumbrass.instability.perblock=0.10000000149011612
    D:fluid.moltenalumite.instability.perblock=0.10000000149011612
    D:fluid.moltenardite.instability.perblock=0.10000000149011612
    D:fluid.moltenblutonium.instability.perblock=0.10000000149011612
    D:fluid.moltenbronze.instability.perblock=0.10000000149011612
    D:fluid.moltencobalt.instability.perblock=0.10000000149011612
    D:fluid.moltencopper.instability.perblock=0.10000000149011612
    D:fluid.moltencyanite.instability.perblock=0.10000000149011612
    D:fluid.moltenelectrum.instability.perblock=0.10000000149011612
    D:fluid.moltenelectrumflux.instability.perblock=0.10000000149011612
    D:fluid.moltenenderium.instability.perblock=0.10000000149011612
    D:fluid.moltengold.instability.perblock=0.10000000149011612
    D:fluid.moltengraphite.instability.perblock=0.10000000149011612
    D:fluid.molteninvar.instability.perblock=0.10000000149011612
    D:fluid.molteniron.instability.perblock=0.10000000149011612
    D:fluid.moltenlead.instability.perblock=0.10000000149011612
    D:fluid.moltenmanyullyn.instability.perblock=0.10000000149011612
    D:fluid.moltenmeat.instability.perblock=0.10000000149011612
    D:fluid.moltenmeatraw.instability.perblock=0.10000000149011612
    D:fluid.moltenmeteoriciron.instability.perblock=0.10000000149011612
    D:fluid.moltennickel.instability.perblock=0.10000000149011612
    D:fluid.moltenobsidian.instability.perblock=0.10000000149011612
    D:fluid.moltenpigiron.instability.perblock=0.10000000149011612
    D:fluid.moltenplatinum.instability.perblock=0.10000000149011612
    D:fluid.moltenplutonium.instability.perblock=0.10000000149011612
    D:fluid.moltensilver.instability.perblock=0.10000000149011612
    D:fluid.moltensteel.instability.perblock=0.10000000149011612
    D:fluid.moltentin.instability.perblock=0.10000000149011612
    D:fluid.moltenunstable.instability.perblock=0.10000000149011612
    D:fluid.moltenuranium.instability.perblock=0.10000000149011612
    D:fluid.moltenyellorium.instability.perblock=0.10000000149011612
    D:fluid.myst.ink.black.instability.perblock=0.10000000149011612
    D:fluid.nickel.molten.instability.perblock=0.10000000149011612
    D:fluid.obsidian.molten.instability.perblock=0.10000000149011612
    D:fluid.oil.instability.perblock=0.10000000149011612
    D:fluid.platinum.molten.instability.perblock=0.10000000149011612
    D:fluid.pyrotheum.instability.perblock=0.10000000149011612
    D:fluid.redstone.instability.perblock=0.10000000149011612
    D:fluid.silver.molten.instability.perblock=0.10000000149011612
    D:fluid.slime.blue.instability.perblock=0.10000000149011612
    D:fluid.steel.molten.instability.perblock=0.10000000149011612
    D:fluid.stone.seared.instability.perblock=0.10000000149011612
    D:fluid.tile.lava.instability.perblock=0.10000000149011612
    D:fluid.tile.water.instability.perblock=0.10000000149011612
    D:fluid.tin.molten.instability.perblock=0.10000000149011612
    D:fluid.toxicwaste.instability.perblock=0.10000000149011612
}


####################
# item
####################

item {
    I:item.agebook.id=5801
    I:item.linkbook.id=5802
    I:item.liquid.id=5803
    I:item.notebook.id=5804
    I:item.page.id=5805
    I:item.unlinkedbook.id=5808
    I:item.vial.id=5806
    I:item.writingdesk.id=5807
}


